.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.authBtn {
  position: absolute;
  top: 10vh;
  right: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vw;
  font-size: 20px;
  color: $btnTextColor;
  border-radius: 15px;

  @include respondXLarge {
    padding: 7px 30px;
    font-size: 18px;
    border-radius: 12px;
  }

  @include respondLarge {
    top: 7vh;
    right: 10vw;
  }

  @include respondMedium {
    right: 8vw;
    padding: 1vh 2vw;
    font-size: 16px;
    border-radius: 10px;
  }
}

.signIn {
  background-color: #8ab92b;
}

.signUp {
  background-color: rosybrown;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  padding: 2vw;
  font-size: 16px;
  background-color: $bgAuthColor;
  border-radius: 0.7vw;

  @include respondXLarge {
    width: 25vw;
    padding: 3vw;
  }

  @include respondLarge {
    width: 35vw;
    padding: 4vw;
    border-radius: 1.2vw;
  }

  @include respondMedium {
    width: 45vw;
    padding: 5vw;
    border-radius: 1.5vw;
  }

  @include respondSmall {
    width: 55vw;
    padding: 6vw;
    border-radius: 2vw;
  }
}

.inputWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 12vw;
  height: 5vh;
  padding: 1vh 1vw;
  font-size: 0.8vw;
  border-radius: 0.7vw;

  @include respondXLarge {
    width: 20vw;
    font-size: 1vw;
  }

  @include respondLarge {
    width: 30vw;
    font-size: 1.5vw;
  }

  @include respondMedium {
    width: 35vw;
    font-size: 2vw;
  }

  @include respondSmall {
    width: 45vw;
    font-size: 3vw;
  }
}

.errorWrap {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputError {
  font-size: 0.8vw;
  text-align: center;
  color: $errorColor;

  @include respondXLarge {
    font-size: 1vw;
  }

  @include respondLarge {
    font-size: 1.5vw;
  }

  @include respondMedium {
    font-size: 2vw;
  }

  @include respondSmall {
    font-size: 3vw;
  }
}

.rowWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  font-size: 0.8vw;
  white-space: nowrap;

  @include respondXLarge {
    font-size: 1vw;
  }

  @include respondLarge {
    font-size: 1.5vw;
  }

  @include respondMedium {
    font-size: 2vw;
  }

  @include respondSmall {
    font-size: 3vw;
  }
}

.checkbox {
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 1.5vw;
  font-size: 0.8vw;
  color: $black;
  border-radius: 0.7vw;

  @include respondXLarge {
    font-size: 1vw;
  }

  @include respondLarge {
    font-size: 1.5vw;
  }

  @include respondMedium {
    font-size: 2vw;
  }

  @include respondSmall {
    font-size: 3vw;
  }
}

.authError {
}
