.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  width: 80vw;
  max-height: 70vh;
  padding: 40px;
  background-color: $green100;
  border-radius: 12px;
  overflow: auto;

  @include respondMedium {
    padding: 20px;
  }
}
